.header {
    padding: 22px 0px;
    height: 88px;
    width: 1190px;
    margin: auto;
}

a {
    text-decoration: none;
}

.header .tm-logo {
    margin-top: 8px;
    width: 260px;
}

#shopPage, #shopPage.mallChn {
    width: auto;
    min-width: 990px;
    background-color: transparent;
}

.content {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}

.login-banner-wrap img {
    display: block;
    margin: auto;
}

.content .form {
    display: none;
    position: absolute;
    top: 91px;
    right: 60px;
    background: #fff;
}

.form-inner {
    padding: 25px 26px 20px;
    width: 350px;
    height: 404px;
}

.static-form {
    display: block;
    position: relative;
}

.login-title {
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    color: #3c3c3c;
    margin-top: 19px;
    padding-bottom: 8px;
    font-weight: 700;
}

.field {
    margin-top: 25px;
    position: relative;
}

div.field {
    border: 1px solid #CBCBCB;
    margin: 20px 0px;
}

div.field span.loginInputIcon {
    margin: 0px;
    background-color: #CBCBCB;
    width: 40px;
    height: 40px;
    display: inline-block;
}

span.loginInputIcon span.glyphicon {
    font-size: 22px;
    position: relative;
    left: 9px;
    top: 9px;
    color: #606060;
}

div.field input {
    display: inline-block;
    border: 0px solid transparent;
    width: 244px;
    height: 30px;
    position: relative;
    left: 6px;
    top: 6px;
}

.Vcode {
    margin-top: 25px;
    position: relative;
}

div.Vcode {
    border: 1px solid #CBCBCB;
    margin: 20px 3px;
}

div.Vcode span.loginInputIcon {
    margin: 0px;
    background-color: #CBCBCB;
    width: 40px;
    height: 40px;
    display: inline-block;
}

div.Vcode input {
    display: inline-block;
    border: 0px solid transparent;
    width: 70px;
    height: 30px;
    position: relative;
    left: 6px;
    top: 6px;
    margin-right: 20px;
}

button.redButton {
    color: white;
    background-color: #f39800;
    font-size: 16px;
    font-weight: 700;
    height: 42px;
    line-height: 42px;
    vertical-align: middle;
    width: 300px;
    border-radius: 3px;
    border: 0;
}

button.redButton:hover {
    background-color: rgb(255, 136, 0);
}